<div class='banner' style="background-image: url(<%= cl_image_path @list.banner.key %>)">
  <h1><%= @list.name %></h1>
</div>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li><%= bookmark.movie.title %>
    <li><%= image_tag(bookmark.movie.poster_url, class:"movie-img") %>
    <%= link_to 'Remove a movie', bookmark_path(bookmark.id), data: { turbo_method: 'delete' } %>
    </li>
    <%= bookmark.comment %>
  <% end %>
</ul>

<%= link_to 'Add a movie', new_list_bookmark_path(@list.id) %>
<%= link_to '<< Back', root_path %>
